## IS602 | Adv. Programming Techniques | Fall 2015
### Final Project
#### James Hamski | james.hamski@spsmail.cuny.edu

If you are under 40 years old, you expect your income to grow more in the coming year than older age groups. The median point prediction has ranged from a low in June of 2013 of 2.78% to a high of 4.64% in June of 2015. I find this survey fascinating. Who doesn’t think they’re going to get a raise in the next year? What income are they at? More specifically, what dollar amount does 4.64% equate to?

Using monthly data from the Federal Reserve Bank of New York’s Survey of Consumer Expectations – November 2015, I will investigate the above questions and if expectations of income growth have a statistically significant relationship with other economic indicators such as unemployment, job openings, and inflation expectations.

### 1. Configuring Analysis Environment

*Module Imports*

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### 2. Data Import

Data for this project comes from the Federal Reserve Bank of New York’s (FRBNY) Survey of Consumer Expectations. 

These data are available in Excel format from the FRBNY's website. Pandas does allow for reading in Excel files directly from a URL using read_excel(). However, since these files are pretty large, I downloaded them to the AWS instance to speed future imports. This means using a Linux shell command via the Notebook by preceeding it with !. 

While I didn't precisely time it, the 60MB 'microdata' file download seems to be significantly faster on the AWS instance compared to downloading via

In [ ]:
!wget https://www.newyorkfed.org/medialibrary/Interactives/sce/sce/downloads/data/FRBNY-SCE-Public-Microdata-Complete.xlsx
!wget https://www.newyorkfed.org/medialibrary/interactives/sce/sce/downloads/data/FRBNY-SCE-Data.xls?version=2.1.3.9

In [2]:
#confirm the files appear in the active directory
!ls -l

total 23112
-rw-rw-r-- 1 ubuntu ubuntu   259072 Nov 18 15:40 FRBNY-SCE-Data.xls?version=2.1.3.9
-rw-rw-r-- 1 ubuntu ubuntu 23367769 Nov 18 15:41 FRBNY-SCE-Public-Microdata-Complete.xlsx
-rw-rw-r-- 1 ubuntu ubuntu     6766 Dec  6 17:06 IS602_FinalProject_JHamski.ipynb
-rw-rw-r-- 1 ubuntu ubuntu      118 Nov 28 20:11 README.md
-rw-rw-r-- 1 ubuntu ubuntu    17907 Dec  6 16:23 test.png

In [62]:
data_excel_1 = 'FRBNY-SCE-Data.xls?version=2.1.3.9'
data_results = pd.read_excel(data_excel_1, 'Earnings growth', header=3, skip_rows=4, parse_dates=True, index_col=None)
data_results_demo = pd.read_excel(data_excel_1, 'Earnings growth Demo', header=3, skip_rows=4, index_col=None)

In [4]:
data_excel_2 = 'FRBNY-SCE-Public-Microdata-Complete.xlsx'
microdata = pd.read_excel(data_excel_2, 'Data', header=1, skip_rows=2)

### 3. Data Cleaning and Formatting

In [63]:
data_results.head()

,Median expected earnings growth,25th Percentile expected earnings growth,75th Percentile expected earnings growth,Median point prediction
201306,2.00,0.95,3.53,2.28
201307,2.00,1.00,3.02,2.38
201308,2.07,1.00,3.55,2.39
201309,2.00,1.00,3.52,2.20
201310,1.90,1.00,3.61,2.15

In [53]:
data_results.head()

,Median expected earnings growth,25th Percentile expected earnings growth,75th Percentile expected earnings growth,Median point prediction
1970-01-01 00:00:00.000201306,2.00,0.95,3.53,2.28
1970-01-01 00:00:00.000201307,2.00,1.00,3.02,2.38
1970-01-01 00:00:00.000201308,2.07,1.00,3.55,2.39
1970-01-01 00:00:00.000201309,2.00,1.00,3.52,2.20
1970-01-01 00:00:00.000201310,1.90,1.00,3.61,2.15

In [6]:
data_results.dtypes

Median expected earnings growth             float64
25th Percentile expected earnings growth    float64
75th Percentile expected earnings growth    float64
Median point prediction                     float64
dtype: object

In [7]:
data_results_demo.head()

,Age Under 40,Age 40-60,Age Over 60,Education High School or Less,Education Some College,Education BA or Higher,Income under 50k,Income 50-100k,Income Over 100k,Numeracy Low,Numeracy High,Region West,Region Midwest,Region South,Region Northeast
201306,3.00,1.46,1.29,1.54,1.71,2.31,1.28,2.11,2.28,2.00,2.00,1.55,2.50,1.54,1.95
201307,2.62,1.45,1.29,2.00,1.27,2.42,1.55,1.63,2.00,1.00,2.19,1.29,2.45,1.40,2.00
201308,2.91,1.94,1.29,2.00,2.15,2.38,2.03,2.00,2.45,2.00,2.19,2.03,2.37,2.15,2.00
201309,2.50,2.00,1.46,2.00,2.00,2.45,1.61,2.00,2.59,1.61,2.00,2.00,1.69,2.18,1.39
201310,2.45,1.60,1.60,1.55,1.46,2.42,1.46,1.58,2.50,1.55,2.00,2.25,1.87,1.75,1.75

In [8]:
microdata.head()

,date,userid,tenure,weight,Q1,Q2,Q3,Q4new,Q5new,Q6new,...,Q47,D1,D3,DSAME,_AGE_CAT,_NUM_CAT,_REGION_CAT,_EDU_CAT,_HH_INC_CAT,_HH_INC_CAT.1
0,201306,70000220,6,16.327999,3,3,50,20,10,15,...,3,1,2,NaN,Under 40,High,West,Some College,Under 50k,Under 50k
1,201306,70000224,7,0.228000,4,4,25,10,25,75,...,11,1,2,NaN,Over 60,High,Midwest,College,Over 100k,Over 100k
2,201306,70000234,6,4.066000,4,3,3,9,20,20,...,9,1,2,NaN,40 to 60,High,West,Some College,Over 100k,Over 100k
3,201306,70000238,6,3.035000,3,3,0,10,5,70,...,4,1,2,NaN,Over 60,Low,West,Some College,Under 50k,Under 50k
4,201307,70000238,7,1.867000,3,3,50,90,0,60,...,5,1,2,NaN,Over 60,Low,West,Some College,Under 50k,Under 50k

### 4. Exploratory Data Analysis

'data_results' is the

AttributeError: 'Int64Index' object has no attribute 'dtypes'

### 5. Do Salary Expectations Vary With Macroeconomic Indicators?

### Postscript

I also used Github for source control. This forced me to learn the Git command line functions instead of the desktop GUI.